*{
	margin: 0;
	padding: 0;
}
html{
	font-size: medium;
}
html, body{
	background-color: silver;
}
.cb{
	clear: both;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.bn{
	border: none;
}
#main{
	margin: 0 auto;
	width: 900px;
	background-color: white;
}
.bannerIEPadder, .sidebarIEPadder, .contentIEPadder{
	padding: 10px;
}
.navIEPadder, .footerIEPadder{
	padding: 5px;
}
#banner{
	width: 900px;
	height: 75px;
	background-color: orange;
	color: white;
	font-size: 36px;
	font-weight: bold;
	position: relative;
}
div.cart_box{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: medium;
}
div.car_box a{
	color: white;
}
#sidebar{
	width: 200px;
	float: left;
}
#content{
	width: 700px;
	float: left;
}
#footer{
	clear: both;
	background-color: #98AC5E;
	color: white;
	text-align: center;
}
a.skip_link{
	position: absolute;
	left: -1000px;
	top: -1000px;
}
#navigation{
	width: 900px;
	height: auto;
	background-color: #98AC5E;
	text-align: center;
}
#navigation ul{
	list-style: none;
}
#navigation ul li{
	float: left;
	margin-right: 15px;
}
#navigation ul li a{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}
#navigation ul li a:hover{
	color: #616161;
	background-color: white;
	text-decoration: none;
}
a{
	color: #98AC5E;
	font-weight: bold;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
/* category page styles */
div.product_thumbnail{
	text-align: center;
	float: left;
	width: 150px;
	height: 200px;
}
/* product page styles */
div.product_image{
	float: left;
	padding: 0 10px 10px 0;
}
