<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="">
		<meta name="keywords" content="{{ meta_keywords }}">
		<meta name="description" content="{{ meta_description }}">
		<link rel="stylesheet" type="text/css" href="/static/css.css">
		<title>{% block title %}{{ site_name }}{% if page_title %}: {{ page_title }}{% endif %}{% endblock %}</title>
	</head>
	<body>
		{% block site_wrapper %}{% endblock %}
	</body>
</html>
