<ul>
	<li><a href="/catalog/">Home</a></li>
	<li><a href="/catalog/">About</a></li>
	<li><a href="/catalog/">Privacy</a></li>
	<li><a href="/catalog/">Products</a></li>
	<li><a href="/catalog/">Contact</a></li>
</ul>
<div class="cb"></div>
